<% content_for :title do %>Fotky<% end %>

<div class="container">

  <div class="starter-template">
    
    <div class="row">
      <h1>
        <span>Galerie</span>
      </h1>
   
      

        <div class="col-sm-6 col-md-4">
          <%= link_to image_tag("photos/s1.jpg"), image_path("photos/1.jpg"), class:"thumbnail group1" %>
        </div>

        <div class="col-sm-6 col-md-4">
          <%= link_to image_tag("photos/s2.jpg"), image_path("photos/2.jpg"), class:"thumbnail group1"  %>
        </div>

        <div class="col-sm-6 col-md-4">
            <%= link_to image_tag("photos/s3.jpg"), image_path("photos/3.jpg"), class:"thumbnail group1"  %>
        </div>


        <div class="col-sm-6 col-md-4">
          <%= link_to image_tag("photos/s4.jpg"), image_path("photos/4.jpg"), class:"thumbnail group1" %>
        </div>

        <div class="col-sm-6 col-md-4">
          <%= link_to image_tag("photos/s5.jpg"), image_path("photos/5.jpg"), class:"thumbnail group1"  %>
        </div>

        <div class="col-sm-6 col-md-4">
            <%= link_to image_tag("photos/s6.jpg"), image_path("photos/6.jpg"), class:"thumbnail group1"  %>
        </div>


        <div class="col-sm-6 col-md-4">
          <%= link_to image_tag("photos/s7.jpg"), image_path("photos/7.jpg"), class:"thumbnail group1" %>
        </div>

        <div class="col-sm-6 col-md-4">
          <%= link_to image_tag("photos/s8.jpg"), image_path("photos/8.jpg"), class:"thumbnail group1"  %>
        </div>

        <div class="col-sm-6 col-md-4">
            <%= link_to image_tag("photos/s9.jpg"), image_path("photos/9.jpg"), class:"thumbnail group1"  %>
        </div>
      
        <div class="col-sm-6 col-md-4">
          <%= link_to image_tag("photos/s10.jpg"), image_path("photos/10.jpg"), class:"thumbnail group1" %>
        </div>

        <div class="col-sm-6 col-md-4">
          <%= link_to image_tag("photos/s11.jpg"), image_path("photos/11.jpg"), class:"thumbnail group1"  %>
        </div>

        <div class="col-sm-6 col-md-4">
            <%= link_to image_tag("photos/s12.jpg"), image_path("photos/12.jpg"), class:"thumbnail group1"  %>
        </div>
        
   
          <div class="col-sm-6 col-md-4">
            <%= link_to image_tag("photos/s13.jpg"), image_path("photos/13.jpg"), class:"thumbnail group1" %>
          </div>

          <div class="col-sm-6 col-md-4">
            <%= link_to image_tag("photos/s14.jpg"), image_path("photos/14.jpg"), class:"thumbnail group1"  %>
          </div>

          <div class="col-sm-6 col-md-4">
              <%= link_to image_tag("photos/s15.jpg"), image_path("photos/15.jpg"), class:"thumbnail group1"  %>
          </div>
    
        
     
        
        
        
      
    </div>
  </div>

</div>

<script type="text/javascript" >



 $(document).ready(function(){
   $(".group1").colorbox({rel:'group1',maxWidth:'95%',		maxHeight:'95%'});
 });
</script>