<% content_for :title do %>
Aktuálně
<% end %>

<div class="container">

  <div class="starter-template">
   
    <div class="test blog" >
      <h1>
        <span>Aktuálně</span>
      </h1>
      
    <% @allposts.each do |post| %>
    	<div class="ppost">
    	<% dt = DateTime.parse(post["date"]) %>
    		<h2 style="text-align:center">
    		<%= dt.day %>.
    		<%= dt.month %>.
    		<%= dt.year %>
    		</h3>
    		<% if post["type"] == "photo" %>
    			<%= image_tag post["photos"][0]["original_size"]["url"] %></p>
    			<%= simple_format( post["caption"])%></p>
    		<% else %>
    			<h3><%=  post["title"]  %></h3>
    			<%= simple_format(  post["body"] ) %>
    		<% end %>
    	</div>
    	<% end %>


    	<div class="pn">
    	<%= link_to_previous_page @allposts, 'Předchozí' %>

    	<%= link_to_next_page @allposts, 'Další' %>
    	</div>
      
     <h2 class="logo_down">
          <span><span></span></span>
      </h2>
      
	   
    
    
    
  </div>
</div>


