<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-language" content="cs">
    <meta property="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Terassacafe" %></title>
    <meta property="description" content="Popis tvorby a publikování WWW stránek pro začátečníky i profesionály.">.
    <meta property="keywords" content="bistro, česká kuchyně, káva, víno, cukrárna, pekárna, domácí zákusky, polední nabídka, vinotéka, kavárna, espresso, restaurace v Kralupech, kavárna v Kralupech, restaurace, čerstvá jídla, oběd v Kralupech, polední menu, snídaně, snídaně v Kralupech, příjemné posezení Kralupy nad Vltavou, restaurace Kralupy nad Vltavou">
    <meta property="author" content="Adam Plánský">
    <meta property="robots" content="all">
    <!-- <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Terassa cafe" %>"> -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "jquery_colorbox" %>
    <%= favicon_link_tag '/favicon.ico' %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
   <%= render 'layouts/footer' %>
  </body>
</html>
